@{
    ViewData["Title"] = "Personal Information Page";
}
<h1>@ViewData["Title"]</h1>
<h2>Information About Robert Freid and the Hobby choosen for this Project.</h2>

<p>My name is Robert Freid. I have a hobby and that is playing music, which I have done since I was very young. 
    I was hoping one day to acutally make that my life's work, but is did not work out that way. 
    And, it's alittle too late to break into the kusic industry, which is a very tought place to ive and do business.</p>
<p>This class has been a great exercise in learning how to use the Asp.NET Core mvc 3.1 program to create and distribute a 
    top notch real web page. Asp.NET Core mvc is not a easy program to learn. </p>
