@model FreidrdEventApp4.Models.DomainModel.Event
@{
    ViewData["Title"] = "Delete Event";
}
<h1 class="display-4">Delete Event</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        <h4>@Model?.EventId @Model?.EventName</h4>
    </li>
    <li class="list-group-item">
        Event Id: @Model?.EventId
    </li>
    <li class="list-group-item">
        Event Name: @Model?.EventName
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="EventId" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="Test" class="btn btn-outline-dark">Cancel</a>
</form>